* {
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: rgba(97, 206, 112, 0.8);
}

.container {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.containerTable {
    display: grid;
    width: 100%;
    justify-items: center;
    background-color: white;
}

body {
    background-color: var(--bg-color);
    color: #555;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}

a {
    cursor: pointer;
}

button {
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), var(--bg-color);
    border: 2px solid rgba(66, 133, 75, 0.71);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), var(--bg-color);
}

h1 {
    text-transform: full-width;
    font-size: 40px;
    margin: 30px;
    line-height: 0.5em;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}

span {
    color: #2b5b3e
}

#welcomeName {
    font-size: 24px;
}

input {
    margin-left: 20px;
    font-size: 20px;
}

table {
    text-align: center;
}

.logo {
    align-self: center;
    width: 100%;
    max-height: 70px;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.logo-img {
    max-width: 55px;
}

#welcome-text {
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
}

.twoColumn {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 2px solid lightgrey;
    background: var(--bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
