#game-container {
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    animation: fadeIn 4s;
}

.canvas-header {
    display: grid;
    grid-template-columns: 0.4fr 2fr 0.3fr 0.2fr 0.1fr 0.1fr;
    grid-auto-rows: minmax(40px, auto);
}

.title-round-box {
    align-self: center;

}

.timer-box {
    align-self: center;
    justify-self: center;
}

@keyframes blink{
    to {
        background: transparent;
    }
}

.bias-button button{
    padding: 1px 5px 0 ;
    margin-right: 0;
}

#logout-button img{
width: 100%;
}

#exit-button {
    min-width: 50px;
    max-width: 50px;
    padding: 5px 5px 0;
    margin-left: 0;
    margin-right: 0;
}

#logout-modal {
    text-align: center;
}

.game-middle {
    position: relative;
    display: grid;
    grid-template-columns: 2fr auto;
}

#map {
    max-height: 400px;
    width: 100%;
    overflow: scroll;
    margin: auto;
}

#map-img {
    min-height: 400px;
    min-width: 750px;
    width: 100%;
    cursor: grab;
    overflow: auto;
}

#map-img:active{
    cursor: grabbing;
}

#newsfeed {
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: white;
    padding-left: 5px;
    height: 400px;
    overflow: scroll;
    display: none;
}

.newsfeed-title {
    font-size: 18px;
}

.newsfeed-text {
    font-size: 13px;
}

.newsfeed-paper {
    font-size: 10px;
}

#infection-box table {
    background-color: white;
    width: 100%;
}

#canvas-footer {
    display: grid;
    background-color: white;
    grid-template-columns: 0.5fr 0.5fr;
}

#scenario-box {
    padding: 15px;
}

#question-box {
    padding-left: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

#question-box > li {
    text-decoration: none;
}

.question-tab {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

#questionmark-img {
    max-width: 40px;
}

.question-tab button {
    width: 100%;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 14px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), var(--bg-color);
    border: 2px solid rgba(66, 133, 75, 0.71);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;
}

.question-tab button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), var(--bg-color);
}

.question-tab button.active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), var(--bg-color);
}

.question-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.submit-button {
    display: grid;
}

#informationBtn {
    width: 100%;
}

.question-bias-list li label, .question-measure-list li label {
    cursor: pointer;
}

.question-bias-list li input, .question-measure-list li input{
    cursor: pointer;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 5px;
}

.measure-list-item, .bias-list-item{
    margin-left: 20px;
}

.measure-list-item input[type=radio], .question-bias-list input[type=radio] {
    margin-right: 10px;
    margin-left: 5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.534); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    width: 55%; /* Could be more or less, depending on screen size */
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{ 
        opacity: 1;
    }
  }

.model-content-big {
    max-height: 600px;
    width: 65%;
    overflow: scroll;
}

.model-content-excel {
    margin: 5% auto;
    width: 80%;
    animation: fadeIn 1s;
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
}

#iframe {
    display: grid;
    width: 100%;
    height: 600px;
    margin: auto;
}

/* The closeModal Button */
.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closePopup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closePopup:hover,
.closePopup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#bias-mid-row {
    background-color: rgba(175, 175, 175, 0.274);
}

#bias-table-div table, #all-bias-div table {
    text-align: left;
    border-spacing: 0;
}

#bias-table-div table td, #bias-table-div table tr, #bias-table-div table th,
#all-bias-div table td, #all-bias-div table tr, #all-bias-div table th {
    padding: 15px;
}

#warning-message {
    text-align: center;
}

#round-message {
    text-align: center;
}

#no {
    background-color: red;
    border: 2px solid rgb(192, 0, 0);
}

#yes {
    min-width: 106.08px;
}

#logout-modal-content {
    width: 40%;
}