#score-header {
    grid-template-columns: 0.55fr 0.63fr 0.05fr;
}

.score-middle {
    display: grid;
    margin: 50px;
    grid-auto-rows: minmax(50px, auto);
    text-align: center;
}

#answers {
    margin-bottom: 40px;
}